.arrow-desktop {
  transition: 0.2s ease-in-out;
  padding: 6px 6px 6px 6px;
  height: 36px;
  border-radius: 6px;


  &:hover{
      background: $arrow-hover-color;
  }
  
  &:active{
      background: $arrow-active-color;
  }
}

.arrow-mobile {
  padding: 4px 4px 4px 4px;
  height: 28px;
  border-radius: 6px;

  &:hover{
    background: $arrow-hover-color;
  }
  
  &:active{
    background: $arrow-active-color;
  }
}
