@import "../../../../styles/partials/theme";

.calendar-section{
  width: 25%;
  height: calc(100vh - 400px);
  background-color: $violet-200;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
}